/* index.html */
:root {
    --second-color: #2196F3;
    --title-color: #212121;
}
body {
    color: #757575;
}
ul {
    list-style: none;
}
/* heder */
/* log */
.log-web {
    color:var(--second-color);
}
.log-span {
    color: #000000;
}
/* nav */
.header-nav {
    color:var(--title-color);
}
.header-nav a:hover,
.header-nav a:focus{
    color:var(--second-color);  
}
/* header-adress */
a[href="mailto:info@devstudio.com"],
a[href="tel:+380961111111"]
{
    color:#757575;
}
.header-adress a:hover,
.header-adress a:focus
{
    color:var(--second-color);
}
/* hero */
.hero-section {
    background-color: #2F303A;
}
.hero-name {
    color: white;
}
.hero-button {
    color: white;
    background-color:var(--second-color);
}
.hero-button:hover, 
.hero-button:focus{
    background-color:var(--second-color);
}
/* adout us */
.about-us h3 {
    color:var(--title-color);
}
/* our occupation */
.our-occupation h2{
    color:var(--title-color);
}
/* our team */
.our-team h2{
    color:var(--title-color);  
}
.our-team h3{
    color:var(--title-color);  
}
/* footer */
.footer {
    background-color: #2F303A;
}
.log-span-lower {
    color: #FFFFFF;
}
.adress-phisical {
    color: #FFFFFF;
}
.adress-mail,
.adress-tel {
    color: rgba(255, 255, 255, 0.6);
}